html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
  background: #E5E5E5;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-family: Montserrat;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.main-title {

}